
@font-face {
    font-family: 'international';
    src: url("international.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Precious';
    src: url("Precious.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Braciola MS';
    src: url("Braciola MS.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'Harting Plain';
    src: url("Harting Plain.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

:root {
    --header-height: 0rem;
    --frame-background-color: #ffbf55; // amber
    /*--frame-background-color: black;*/
}

.header {
    font-size: 3rem;
    text-align: center;
    background-color: aqua;
    border-color: black;
    border-style: double;
    height: calc(var(--header-height));
    width: 100%;
    font-family: Liberation Serif;"Times New Roman";
    position: fixed;
    top: 0;
    z-index: 2000;
}

#indexMain {
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(var(--header-height));
    width: 100%;
    height: calc(100% - var(--header-height) - 35px);
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/film-reel_02.png");
}

.blur {
    backdrop-filter: blur(8px);
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    background-color: aqua;
    color: black;
    text-align: center;
    border-color: black;
    border-style: double;
}

.footer > .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.footer > .navbar {min-height:32px !important}

.btn-link.btn-anchor {
    outline: none !important;
    background:none!important;
    color: rgba(0,0,0,.5);
    font-size: 1rem;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 20px;
    border: 0;
    vertical-align: center;
}

.side-film-strip {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1000;
    pointer-events: none;
}

.upper-strip {
    margin: 0;
    padding: 0;
    /*height: 100%;*/
    width: 15%;
    display: inline-block;
    position: relative;
}

.lower-strip {
    padding: 0;
    margin: 0;
    /*height: 100%;*/
    width: 15%;
    display: inline-block;
    position: relative;
}

#main-cell {
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 85%;
    display: inline-block;
    border: 4px solid black;
}

.headshot {
    background-image: url("../img/Headshot-01.jpg");
    background-size: cover;
}

.frame01 {
    position: absolute;
    top: 1.5%;
    left: 19%;
    width: 62%;
    height: 13%;
    z-index: 100;
}

.frame02 {
    position: absolute;
    top: 18%;
    left: 19%;
    width: 62%;
    height: 13%;
    background-color: black;
    z-index: 100;
}

.frame03 {
    position: absolute;
    top: 35%;
    left: 19%;
    width: 62%;
    height: 13%;
    background-color: black;
    z-index: 100;
}

.frame04 {
    position: absolute;
    top: 52%;
    left: 19%;
    width: 62%;
    height: 13%;
    background-color: black;
    z-index: 100;
}

.frame05 {
    position: absolute;
    top: 68.5%;
    left: 19%;
    width: 62%;
    height: 13%;
    background-color: black;
    z-index: 100;
}

.frame06 {
    position: absolute;
    top: 85%;
    left: 19%;
    width: 62%;
    height: 13%;
    background-color: black;
    z-index: 100;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill video {
    flex-shrink: 0;
    max-width: 85%;
    max-height: 85%;
}

.upper-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 3em;
}
.upper-banner img {
    flex-shrink: 0;
    max-width: 75%;
    max-height: 75%;
    margin-left: 5%;
    margin-right: 5%;
}
.upper-banner a {
    flex-shrink: 0;
    max-width: 75%;
    max-height: 75%;
    margin-left: 5%;
    margin-right: 5%;
}
.upper-banner img:hover {
    transform: scale(1.2);
}

.lower-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 3em;
    background-color: black;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}
.lower-banner img {
    flex-shrink: 0;
    max-width: 75%;
    max-height: 75%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.video-div {
    position: relative;
    border: 2px solid black;
    padding: 0;
    margin: 0;
}
.video-clip {
    vertical-align: center;
    opacity: 15%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
}
.video-clip02 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

#start-prompt {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 2.0em;
    font-family: international, "Times New Roman";
    padding: 0;
    margin: 0;
}

#resume {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: aliceblue;
    overflow-y: auto;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.prod-credit {
    font-family: international, "Times New Roman";
    margin-top: 2em;
}

.credit-subtitle {
    font-family: "Segoe Script";
    font-size: 2em;
    text-align: left;
    padding-left: 25%;
    margin-top: 1em;
    margin-bottom: 0;
}

.section-title {
    text-align: center;
    margin: 0;
    font-family: "Arial", "Courier New";
    font-weight: bold;
}

.left-credit {
    width: 50%;
    text-align: right;
    margin: 0;
    padding-right: 1%;
    float: left;
    font-family: "monospace", "Courier New";
}

.right-credit {
    width: 50%;
    text-align: left;
    margin: 0;
    padding-left: 1%;
    float: right;
    font-family: "Harting Plain", "Courier New";
}

ex {
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: underline;
}

pr {
    font-weight: bold;
    text-decoration: underline;
}

.summary {
    width: 85%;
    margin: 0.75em auto auto auto;
    font-family: "Harting Plain", "Courier New";
}

.lowercase {
    font-size: .8em;
}

.minor-case {
    font-size: .5em;
}

.content {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 33.3%;
}

